body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #F14A23;
    margin: 0;
    height: 100vh;
    padding: 0;
    width: 80%;
    height: 100%;
    display: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
}
