#map-report div.gmnoprint,
#map-report div.gmnoscreen {
    display: none;
}

img[alt="Google"] {
    display: none;
}

.mapContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
}
